.header {
  width: 100%;
  background-color: #161616;
  padding: 10px 50px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  -webkit-box-shadow: 0px 7px 14px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 7px 14px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 7px 14px 0px rgba(0, 0, 0, 0.75);

  & .img {
    background-color: #fff;
    border-radius: 50%;
  }
}

@media (max-width: 1100px) {
  .header {
    flex-direction: column;
    justify-content: center;
  }
}

@media (max-width: 450px) {
  .header {
    padding: 10px 0px;
  }
}
