.vistoriaConfirm {
    height: 60vh;
}

.vistoriaInicio {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;

    margin-top: 100px;
}

.vistoriaBtnCadastro {
    display: flex;
    gap: 50px;
}

@media(max-width: 850px){
    .vistoriaConfirm{
        margin-top: 100px;
    }
}

@media(max-width: 450px){
    .vistoriaInicio{
        margin: 100px 30px;
        text-align: center;
    }
}